<!--Choice input (this is a complex one, read tbe docs if confused!)-->
<script type="text/ng-template" id="wgn-config-input-choice">
	<div>
		<select class="form-control" name="input"
				ng-model="editing.config[field.id + '_source']"
				ng-options="f.id as f.name for f in getFields(field, specs)"
				ng-disabled="isFieldLoading(field.belongsTo) || !editing.config[field.belongsTo]"
				ng-required="field.required">
			<option value=""></option>
		</select>

		<span ng-show="isFieldLoading(field.belongsTo)" class="throbber inline throbber"></span>

		<div ng-show="editing.config[field.id + '_source']">
			<p ng-if="field.mode === 'select'">Select a choice</p>
			<p ng-if="field.mode === 'score'">Score all choices</p>

			<!-- Display field choices -->
			<div ng-repeat="(key, val) in getChoices(field)" class="form-group">
				<div ng-if="field.mode === 'score'" class="score-input">
					<label class="form-label">{{ val }}</label>

					<div class="controls">
						<input type="text" class="form-control" ng-required="field.required"
							   ng-model="editing.config[field.id + '_opt_' + key]">
					</div>
				</div>

				<div ng-if="field.mode === 'select'" class="radio">
					<label>
						<input type="radio" class="form-control" value="{{ key }}"
							   ng-model="editing.config[field.id + '_val']" name="{{ field.id }}" ng-required="field.required">
						{{ val }}
					</label>
				</div>
			</div>
		</div>
	</div>
</script>
