<!--Checkbox input-->
<script type="text/ng-template" id="wgn-config-input-radio" >
	<div class="radio" ng-repeat="item in field.options" ng-if="!field.inline">
		<label class="radio">
			<input type="radio" value="{{item.value}}" ng-required="field.required"
				   ng-model="editing.config[field.id]">
			{{item.label}}
		</label>
	</div>

	<label class="radio-inline" ng-repeat="item in field.options"  ng-if="field.inline">
		<input type="radio" value="{{item.value}}" ng-required="field.required"
			   ng-model="editing.config[field.id]">
		{{item.label}}
	</label>
</script>
