<script type="text/ng-template" id="wgn-multi-config-list">
	<ul class="multi-config-list" ng-class="{grid: display === 'grid'}">
		<li ng-repeat="config in configs">
			<div ng-click="onEditConfig(config.$id)">
				<div class="config-name">
					{{ config.name }}
				</div>


			</div>

			<div class="config-status" ng-if="settings.toggle">
				<input class="toggle" id="{{ 'configToggle' + config.$id }}" type="checkbox"/>
				<label for="{{ 'configToggle' + config.$id }}" class="toggle-label">
					<span class="on">Enabled</span>
					<span class="off">Disabled</span>
				</label>
			</div>
		</li>
	</ul>
</script>
