<script type="text/ng-template" id="wgn-config">

	<div>
		<div class="section">
			<button ng-click="onNewConfig()" type="button" class="btn btn-success create-config-button"
					ng-hide="!settings.multi || loading" ng-disabled="editing.config">
				<i class="icon-plus"></i> Create Configuration
			</button>

			<h2><i class="icon-{{ settings.icon }}"></i> {{ settings.title }}</h2>

			<p class="config-intro">{{ settings.help }}</p>
		</div>

		<span ng-show="loading" class="throbber"></span>

		<div class="config-container" ng-hide="loading">
			<wgn-config-list ng-show="!editing.config && settings.multi"></wgn-config-list>

			<form class="form" name="wgnConfigForm" ng-submit="onSaveConfig()" ng-show="editing.config" novalidate>
				<a href="javascript:" ng-click="onDiscardChanges()" ng-show="settings.multi">
					<i class="icon icon-left-circled"></i> Back
				</a>

				<div class="section">
					<div class="form-actions">
						<button type="button" class="btn btn-success pull-right" ng-click="onEnableConfig()"
								ng-show="settings.toggle && editing.config.$id && !editing.config.enabled"
								ng-disabled="wgnConfigForm.$invalid || saving">
							Enable
						</button>

						<button type="button" class="btn btn-warning pull-right" ng-click="onDisableConfig()"
								ng-disabled="saving"
								ng-show="settings.toggle && editing.config.$id && editing.config.enabled">
							Disable
						</button>

						<button type="button" class="btn btn-danger pull-right" ng-click="onDeleteConfig()"
								ng-disabled="saving"
								ng-show="settings.multi && editing.config.$id">
							Delete
						</button>
					</div>

					<wgn-config-name></wgn-config-name>

					<wgn-config-inputs></wgn-config-inputs>
				</div>

				<div class="form-actions bottom-actions">
					<button type="submit" class="btn btn-primary pull-right"
							ng-disabled="!wgnConfigForm.$dirty || wgnConfigForm.$invalid || saving">
						Save configuration
					</button>

					<button type="button" class="btn pull-right" ng-click="onDiscardChanges()"
							ng-show="settings.multi || wgnConfigForm.$dirty">
						<span ng-show="settings.multi">Cancel</span>
						<span ng-hide="settings.multi">Discard changes</span>
					</button>

					<div class="required-fields pull-right" ng-show="!wgnConfigForm.$pristine && wgnConfigForm.$error.required">
						Please fill all required fields
					</div>
				</div>
			</form>

		</div>

	</div>
</script>
