<script type="text/ng-template" id="wgn-multi-config">

	<div>
		<div class="section">
			<button ng-click="onNewConfig()" type="button" class="btn btn-success create-config-button" ng-hide="loading">
				<i class="icon-plus"></i> Create Configuration
			</button>

			<h2><i class="icon-{{ settings.icon }}"></i> {{ settings.title }}</h2>

			<p>{{ settings.help }}</p>
		</div>

		<span ng-show="loading" class="throbber"></span>

		<div class="multi-config-container" ng-hide="loading">
			<div class="section" ng-show="!editing.config && settings.multi">
				<div class="multi-config-label">Configurations</div>

				<p ng-show="!configs.length" class="multi-config-empty">
					You don't have any configurations yet.
					<a href="javascript:" ng-click="onNewConfig()">Let's create one!</a>
				</p>

				<div ng-show="configs.length">
					<ul class="multi-config-list">
						<li ng-repeat="config in configs" ng-click="onEditConfig(config.$id)">
							<div class="config-name">
								{{ config.name }}
							</div>
							<div class="config-status" ng-if="settings.toggle" ng-class="{'bg-success': config.enabled, 'bg-warning': !config.enabled}">
								<span ng-hide="config.enabled">
									<i class="icon-toggle-off"></i>
									Disabled
								</span>

								<span ng-show="config.enabled">
									<i class="icon-toggle-on"></i>
									Enabled
								</span>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="section" ng-show="editing.config">
				<form class="form" name="wgnConfigForm" ng-submit="onSaveConfig()" novalidate>
					<div class="form-actions">
						<button type="button" class="btn btn-danger pull-right" ng-click="onDeleteConfig()"
								ng-show="settings.multi && editing.config.$id">
							<i class="icon-trash"></i> Delete
						</button>

						<button type="button" class="btn btn-success pull-right" ng-click="onEnableConfig()"
								ng-show="settings.toggle && editing.config.$id && !editing.config.enabled"
								ng-disabled="wgnConfigForm.$invalid">
							<i class="icon-toggle-on"></i> Enable
						</button>

						<button type="button" class="btn btn-warning pull-right" ng-click="onDisableConfig()"
								ng-show="settings.toggle && editing.config.$id && editing.config.enabled"
								ng-disabled="wgnConfigForm.$invalid">
							<i class="icon-toggle-off"></i> Disable
						</button>
					</div>

					<div class="control-group multi-config-name" ng-show="settings.multi">
						<label class="form-label config-title">Config name</label>

						<div class="controls">
							<input type="text" class="form-control" name="configName"
								   ng-model="editing.config.name" wgn-validator-config-name>

							<span class="danger">required</span>

							<span class="help-block">Specify a unique name for this configuration.</span>

							<span class="help-block danger" ng-show="wgnConfigForm.$error.configName">
                        	The config name must be unique
                    	</span>
						</div>
					</div>

					<div ng-if="!settings.multi || (settings.multi && editing.config.name && !wgnConfigForm.$error.configName)">
						<div ng-if="settings.pages.length === 1">
							<wgn-multi-config-page specs="settings.pages[0]"></wgn-multi-config-page>
						</div>

						<div ng-if="settings.pages.length > 1">
							<ul class="nav nav-tabs">
								<li role="presentation" ng-repeat="page in settings.pages" ng-class="{active: view === page.id}">
									<a href="javascript:" ng-click="onSelectPage(page.id)">{{ page.name }}</a>
								</li>
							</ul>

							<div class="panel panel-default" ng-repeat="page in settings.pages" ng-show="view === page.id">
								<div class="panel-body">
									<wgn-multi-config-page specs="page"></wgn-multi-config-page>
								</div>
							</div>
						</div>
					</div>

					<div class="form-actions">
						<button type="submit" class="btn btn-primary pull-right"
								ng-disabled="!wgnConfigForm.$dirty || wgnConfigForm.$invalid">
							Save configuration
						</button>

						<button type="button" class="btn pull-right" ng-click="onDiscardChanges()"
								ng-show="wgnConfigForm.$dirty">
							Close
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</script>
