<script type="text/ng-template" id="wgn-multi-config">

	<div>
		<div class="section">
			<button ng-click="onNewConfig()" type="button" class="btn btn-success create-config-button"
					ng-hide="!settings.multi || loading" ng-disabled="editing.config">
				<i class="icon-plus"></i> Create Configuration
			</button>

			<h2><i class="icon-{{ settings.icon }}"></i> {{ settings.title }}</h2>

			<p class="multi-config-intro">{{ settings.help }}</p>
		</div>

		<span ng-show="loading" class="throbber"></span>

		<div class="multi-config-container" ng-hide="loading">
			<wgn-multi-config-list ng-show="!editing.config && settings.multi"></wgn-multi-config-list>

			<form class="form" name="wgnConfigForm" ng-submit="onSaveConfig()" ng-show="editing.config" novalidate>
				<a href="javascript:" ng-click="onDiscardChanges()" ng-show="settings.multi">
					<i class="icon icon-left-circled"></i> Back
				</a>

				<div class="section">
					<wgn-multi-config-top-actions></wgn-multi-config-top-actions>

					<wgn-multi-config-config-name></wgn-multi-config-config-name>

					<wgn-multi-config-config-inputs></wgn-multi-config-config-inputs>
				</div>

				<wgn-multi-config-bottom-actions></wgn-multi-config-bottom-actions>
			</form>

		</div>

	</div>
</script>
