<script type="text/ng-template" id="wgn-config-page">
	<div id="config-page-{{ specs.id }}">
		<div class="form-group" ng-class="'group-' + field.type" ng-repeat="field in specs.fields"
			ng-if="!field.customShow || field.customShow(editing.config, field)">
			<!--Special markup input-->
			<div ng-if="field.type === 'markup'" ng-bind-html="field.value"></div>

			<!-- Other inputs get created dynamically -->
			<ng-form name="fieldForm" ng-if="field.type !== 'markup'">
				<label class="form-label" ng-show="field.name">{{ field.name }}</label>

				<div class="controls">
					<wgn-config-input definition="field"></wgn-config-input>

					<span ng-if="field.required" class="danger">Required</span>
					<span ng-if="field.help" class="help-block">{{ field.help }}</span>

					<span ng-if="fieldForm.input.$dirty && fieldForm.input.$error.required" class="help-block danger">
						This field is required
					</span>
				</div>
			</ng-form>
		</div>
	</div>
</script>
