$color-error: #a94442;
$color-success: #3c763d;

@mixin field-state($color) {
	.form-label {
		color: $color;
	}
	.form-control {
		border-color: $color;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	}
}

.multi-config-container {
	margin-top: 2em;

	.btn.btn-warning {
		background-color: #ec971f;
		border-color: #d58512;
		color: white;
	}

	.danger {
		font-size: 10px;
		margin-left: 12px;

		&.help-block {
			font-size: .85em;
			font-weight: 500;
			margin-left: .3em;
		}
	}

	.form-actions {
		float: right;
		position: relative;
		z-index: 99;
	}

	.bottom-actions {
		float: none;
	}

	.form-control {
		max-width: 300px;
	}

	.help-block {
		margin-top: .5em;
	}

	.nav-pills > li > a {
		height: auto;
		padding: 10px;
	}

	.section {
		background: #fff;
		border: 1px solid #dedede;
		padding: 2em 2em 0 2em;
		border-radius: 3px;
		margin: 18px 0;
	}

	.required-fields {
		color: $color-error;
		font-size: 1.2em;
		font-weight: 400;
		padding: 8px 12px;
		line-height: normal;
	}

	ng-form.ng-dirty {
		&.ng-invalid {
			@include field-state($color-error);
		}

		&.ng-valid {
			@include field-state($color-success);
		}
	}

	.view-switcher {
		float: right;

		a, span {
			display: inline-block;
			margin-left: 1em;
		}
	}
}

.multi-config-label {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: .8em;
	text-transform: uppercase;
}

.multi-config-intro {
	font-size: 1em;
	font-weight: 200;
	line-height: 1.5;
	padding-left: .35em;
	width: 70%;
}

.multi-config-list {
	margin: 2em 0 0 0;

	li {
		// @TODO
	}

	&.grid li {
		border: 1px solid #dedede;
		cursor: pointer;
		display: inline-block;
		height: 14em;
		margin: 0 2.5em 2.5em 0;
		padding: 2.5em 0 0 0;
		position: relative;
		overflow: hidden;
		text-align: center;
		width: 15em;

		&:hover {
			box-shadow: 0 0 3px -1px #000;
		}
	}

	.config-name {
		font-size: 1.5em;
		line-height: 1.5;
	}

	.config-status {
		padding: 0.6em 0;
		position: absolute;
		bottom: 0;
		width: 100%;

		&.bg-success {
			background-color: #4cae4c;
			color: white;
		}

		&.bg-warning {
			background-color: #ff9900;
			color: white;
		}
	}
}

.multi-config-name {

	label {
		font-weight: 300;
		margin-bottom: 1em;
	}
}

.multi-config-empty {
	font-size: 1.3em;
	font-weight: 400;
	padding: 5em 2em;
	text-align: center;
}

.create-config-button {
	color: #eee;
	float: right;
	font-size: 1.3em;
	margin-top: 1.6em;
	padding: .4em .6em;
}
