$color-error: #a94442;
$color-success: #3c763d;

@mixin field-state($color) {
	.form-label {
		color: $color;
	}

	.form-control {
		border-color: $color;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	}
}

.multi-config-container {
	margin-top: 2em;

	.btn {
		transition: .25s ease-in-out;
	}

	.btn.btn-warning {
		background-color: #ec971f;
		border-color: #d58512;
		color: white;

		&:hover {
			background-color: lighten(#ec971f, 10%);
		}
	}

	.danger {
		font-size: 10px;
		margin-left: 12px;

		&.help-block {
			font-size: .85em;
			font-weight: 500;
			margin-left: .3em;
		}
	}

	.form-actions {
		float: right;
		position: relative;
		z-index: 99;
	}

	.form-control {
		width: 300px;
	}

	.bottom-actions {
		float: none;
	}

	.help-block {
		margin-top: .5em;
	}

	.nav-pills > li > a {
		height: auto;
		padding: 10px;
	}

	.section {
		background: #fff;
		border: 1px solid #dedede;
		padding: 2em 2em 0 2em;
		border-radius: 3px;
		margin: 18px 0;
	}

	.required-fields {
		color: $color-error;
		font-size: 1.2em;
		font-weight: 400;
		padding: 8px 12px;
		line-height: normal;
	}

	ng-form.ng-dirty {
		&.ng-invalid {
			@include field-state($color-error);
		}

		&.ng-valid {
			@include field-state($color-success);
		}
	}

	.view-switcher {
		float: right;

		.switcher-link {
			color: black;
			display: inline-block;
			margin-left: .5em;
			transition: .25s ease-in-out;

			&.disabled {
				opacity: 1;
				color: #aaa;
			}
		}
	}

	.form-group.group-choice {
		border: 1px solid #dedede;
		padding: 1em;

		.controls {
			position: relative;

			span.danger {
				position: absolute;
				right: 0;
				top: 10px;
			}
		}

		.score-input {
			.controls {
				display: inline-block;
				padding-left: .5em;
			}
		}
	}

	.form-group {
		max-width: 400px;

		.radio {
			input[type=radio] {
				margin-top: 1px;
				width: auto;
				height: auto;
			}
		}
	}

	.single-page {
		margin-top: 2em;
	}

	.config-highlight {
		color: #888;
		font-weight: 200;
	}
}

.multi-config-label {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: .8em;
	text-transform: uppercase;
}

.multi-config-intro {
	font-size: 1em;
	font-weight: 200;
	line-height: 1.5;
	padding-left: .35em;
	width: 70%;
}

.multi-config-list {
	margin: 2em 0 0 0;

	li {
		border: 1px solid #dedede;
		overflow: hidden;
	}

	.config-name {
		color: #666;
		cursor: pointer;
		font-size: 1.5em;
		font-weight: 300;
	}

	&.list {
		li {
			margin-bottom: 2em;
			position: relative;
			padding: 1em;
		}

		.config-name {
			display: inline-block;
		}

		.config-status {
			display: inline-block;
			position: absolute;
			right: 70px;
			top: 3px;
		}

		.config-highlights {
			display: inline-block;
			margin-left: 200px;
		}
	}

	&.grid {
		li {
			display: inline-block;
			height: 14em;
			margin: 0 2.5em 2.5em 0;
			padding: 0;
			position: relative;
			text-align: center;
			width: 15em;

			&:hover {
				box-shadow: 0 0 3px -1px #000;
			}
		}

		.config-name {
			line-height: 1.5;
			padding: 12px 0 0 0;
			height: 145px;

			&.with-highlight {
				height: 100px;
			}
		}

		.config-status {
			border-top: 1px solid #dedede;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}

.multi-config-name {

	label {
		font-weight: 300;
		margin-bottom: 1em;
	}
}

.multi-config-empty {
	font-size: 1.3em;
	font-weight: 400;
	padding: 5em 2em;
	text-align: center;
}

.create-config-button {
	color: #eee;
	float: right;
	font-size: 1.3em;
	margin-top: 1.6em;
	padding: .4em .6em;
}

$toggle-height: 15px;
$toggle-green: rgba(19,191,17,1);
$toggle-orange: #ff9900;

.multi-config-input {
	display: inline-block;
}

.toggle-label {
	display: block;
	cursor: pointer;
	background: #f3f3f3;
	height: $toggle-height;
	width: 35px;
	border-radius: $toggle-height;
	margin: $toggle-height auto;
	position: relative;
	box-shadow: 0 0 0 2px #dddddd;
	font-weight: 300;
	transition: .25s ease-in-out;

	.on {
		display: block;
		position: absolute;
		z-index: 0;
		left: 0;
		line-height: $toggle-height;
		opacity: 0;
		color: $toggle-green;
		transition: .25s ease-in-out;
	}
	.off {
		display: block;
		position: absolute;
		z-index: 0;
		right: 45px;
		text-align: right;
		line-height: $toggle-height;
		opacity: 1;
		color: $toggle-orange;
		transition: .25s ease-in-out;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		border-radius: $toggle-height;
		height: $toggle-height;
		width: $toggle-height;
		background: white;
		box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px #dddddd;
		transition: .25s ease-in-out;
	}
}

.toggle {
	position: absolute;
	left: -5000px;

	+ .toggle-label {
		background: $toggle-orange;
		box-shadow: 0 0 0 2px $toggle-orange;

		&:before {
			box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px $toggle-orange;
			transition: .25s ease-in-out;
		}
	}

	&:checked {
		+ .toggle-label {
			background: $toggle-green;
			box-shadow: 0 0 0 2px $toggle-green;

			.on {
				left: 45px;
				opacity: 1;
			}

			.off {
				right: 0;
				opacity: 0;
			}

			&:before {
				left: 19px;
				box-shadow: 0 3px 3px rgba(0, 0, 0, .2), 0 0 0 2px $toggle-green;
				transition: .25s ease-in-out;
			}
		}
	}
}
