<script type="text/ng-template" id="wgn-multi-config-display-switcher">
	<div class="view-switcher" ng-show="configs.length">
		View:

		<a href="javascript:;" ng-click="display = 'grid'" ng-show="display === 'list'" class="switcher-link">
			<i class="icon-th-large"></i> Grid
		</a>

		<span ng-hide="display === 'list'" class="switcher-span">
			<i class="icon-th-large"></i> Grid
		</span>

		<a href="javascript:;" ng-click="display = 'list'" ng-show="display === 'grid'" class="switcher-link">
			<i class="icon-list"></i> List
		</a>

		<span ng-hide="display === 'grid'" class="switcher-span">
			<i class="icon-list"></i> List
		</span>
	</div>
</script>
