<script type="text/ng-template" id="wgn-multi-config">

	<div class="multi-config-container">
		<div class="section">
			<div class="multi-config-label">Configurations</div>

			<div ng-show="!configs.length && !editing.config" class="alert alert-info" role="alert">
				You haven't created any configurations yet!
			</div>

			<div ng-show="configs.length">
				<ul class="multi-config-list nav nav-pills">
					<li ng-repeat="config in configs" ng-class="{active: editing.config.$id === config.$id}">
						<a ng-click="onEditConfig(config.$id)" href="javascript:">
							{{ config.name }}
						</a>
					</li>
				</ul>
			</div>

			<button ng-click="onNewConfig()" type="button" class="btn btn-success">
				<i class="icon-magic"></i> Create Configuration
			</button>
		</div>

		<div class="section" ng-show="editing.config">
			<form class="form" name="wgnConfigForm" ng-submit="onSaveConfig()" novalidate>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary pull-right" ng-disabled="wgnConfigForm.$invalid">
						<i class="icon-ok"></i> Save configuration
					</button>

					<button type="button" class="btn btn-danger pull-right" ng-click="onDeleteConfig()" ng-show="editing.config.$id">
						<i class="icon-trash"></i> Delete configuration
					</button>

					<button type="button" class="btn btn-warning pull-right" ng-click="onDiscardChanges()" ng-show="wgnConfigForm.$dirty">
						<i class="icon-cancel"></i> Discard changes
					</button>
				</div>

				<div class="control-group multi-config-name">
					<label class="form-label config-title">Config name</label>

					<div class="controls">
						<input type="text" class="form-control" name="configName"
							   ng-model="editing.config.name" wgn-validator-config-name>

						<span class="danger">required</span>

						<span class="help-block">Specify a unique name for this configuration.</span>

						<span class="help-block danger" ng-show="wgnConfigForm.$error.configName">
                        	The config name must be unique
                    	</span>
					</div>
				</div>

				<div ng-if="editing.config.name && !wgnConfigForm.$error.configName">
					<div ng-if="!tabs" ng-include="'wgn-config-form'"></div>

					<ul class="nav nav-tabs" ng-if="tabs">
						<li role="presentation" ng-repeat="tab in tabs" ng-class="{active: view === tab.slug}">
							<a href="javascript:" ng-click="onSelectTab(tab.slug)">{{ tab.label }}</a>
						</li>
					</ul>

					<div class="panel panel-default" ng-repeat="tab in tabs" ng-show="view === tab.slug">
						<div class="panel-body" ng-include="'wgn-config-form-' + tab.slug"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</script>
