<script type="text/ng-template" id="wgn-multi-config-top-actions">
	<div class="form-actions">
		<button type="button" class="btn btn-success pull-right" ng-click="onEnableConfig()"
				ng-show="settings.toggle && editing.config.$id && !editing.config.enabled"
				ng-disabled="wgnConfigForm.$invalid">
			Enable
		</button>

		<button type="button" class="btn btn-warning pull-right" ng-click="onDisableConfig()"
				ng-show="settings.toggle && editing.config.$id && editing.config.enabled">
			Disable
		</button>

		<button type="button" class="btn btn-danger pull-right" ng-click="onDeleteConfig()"
				ng-show="settings.multi && editing.config.$id">
			Delete
		</button>
	</div>
</script>
