<script type="text/ng-template" id="wgn-multi-config-inputs">
	<div ng-if="!settings.multi || (settings.multi && editing.config.configName && !wgnConfigForm.$error.configName)">
		<div ng-if="settings.pages.length === 1" class="single-page">
			<wgn-multi-config-page specs="settings.pages[0]"></wgn-multi-config-page>
		</div>

		<div ng-if="settings.pages.length > 1">
			<ul class="nav nav-tabs">
				<li role="presentation" ng-repeat="page in settings.pages" ng-class="{active: view === page.id}">
					<a href="javascript:" ng-click="onSelectPage(page.id)">{{ page.name }}</a>
				</li>
			</ul>

			<div class="panel panel-default" ng-repeat="page in settings.pages" ng-show="view === page.id">
				<div class="panel-body">
					<wgn-multi-config-page specs="page"></wgn-multi-config-page>
				</div>
			</div>
		</div>
	</div>
</script>
