<script type="text/ng-template" id="wgn-multi-config-list">
	<div class="section">
		<div class="view-switcher" ng-show="configs.length">
			View:

			<a href="javascript:;" ng-click="display = 'grid'" class="switcher-link"
				ng-class="{disabled: display === 'grid'}">
				<i class="icon-th-large"></i> Grid
			</a>

			<a href="javascript:;" ng-click="display = 'list'" class="switcher-link"
			   ng-class="{disabled: display === 'list'}">
				<i class="icon-list"></i> List
			</a>
		</div>

		<div class="multi-config-label">Configurations</div>

		<p ng-show="!configs.length" class="multi-config-empty">
			You don't have any configurations yet.
			<a href="javascript:" ng-click="onNewConfig()">Let's create one!</a>
		</p>

		<ul class="multi-config-list" ng-class="{grid: display === 'grid', list: display === 'list'}"
			ng-show="configs.length">

			<li ng-repeat="config in configs">
				<div class="config-name" ng-click="onEditConfig(config.$id)">
					{{ config.name }}
				</div>

				<div class="config-status" ng-if="settings.toggle">
					<input class="toggle" id="{{ 'configToggle' + config.$id }}" type="checkbox"
						   ng-model="config.enabled"
						   ng-change="onConfigToggle(config)">
					<label for="{{ 'configToggle' + config.$id }}" class="toggle-label">
						<span class="on">Enabled</span>
						<span class="off">Disabled</span>
					</label>
				</div>
			</li>
		</ul>
	</div>
</script>
